# Modelos Lineales Generalizado en Python
# Regresión multinomial - nominal

<img src="https://raw.githubusercontent.com/fhernanb/fhernanb.github.io/master/docs/logo_unal_color.png" alt="drawing" width="200"/>

Aquí se muestran varios ejemplos de como usar Python para ajustar un modelo lineal generalizado.

Las librerías necesarias son las siguientes:

In [1]:
from sklearn.linear_model import LogisticRegression

from sklearn.preprocessing import OneHotEncoder

Otras librerías que se usarán en los ejemplos son:

In [2]:
import pandas as pd

## Ejemplo

En esta actividad vamos a utilizar los datos presentados la sección 6.1.2 del libro "An Introduction to Categorical Data Analysis" de Agresti (2019). El objetivo es ajustar el siguiente modelo:

$$
logit \left( \frac{\pi_j}{\pi_c} \right) = \alpha_j + \beta_j length, \, \text{para} \, j=1, 2.
$$

El objetivo es modelar ajustar un modelo de regresión multinomial para explicar lo que come principalmente ($Y$) un cocodrilo en función de su longitud. 

Abajo una figura ilustrativa.

<img src="cocodrilo.jpg" alt="drawing" width="1000"/>

Lo primero que usted debe hacer es leer la base de datos.

In [3]:
url = "http://www.stat.ufl.edu/~aa/cat/data/Alligators.dat"
datos = pd.read_csv(url, sep='\s+', header=0)
datos.head()

      x  y
0  1.24  I
1  1.30  I
2  1.30  I
3  1.32  F
4  1.32  F

Para ver el tamaño de la base de datos

In [4]:
datos.shape

(59, 2)

Vamos a crear la matriz $X$ para entrenar el modelo.

In [5]:
X = datos[["x"]]

Vamos a codificar la variable ideología para crear el vector $y$.

In [6]:
scale_mapper = {"I":1, "O":2, "F":3}
datos["y"] = datos["y"].replace(scale_mapper)

y = datos["y"]

## Ajustando el modelo

Para más detalles de la función revisar este enlace: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html?highlight=logisticregression#sklearn.linear_model.LogisticRegression

In [12]:
# define the multinomial logistic regression model
model = LogisticRegression(multi_class='multinomial', solver='lbfgs', fit_intercept=True)

# fit the model on the whole dataset
model.fit(X, y)

LogisticRegression(multi_class='multinomial')

## Haciendo predicciones con el modelo ajustado

¿Cuál podría ser el tipo de comida primario de un cocodrilo de 3.89 metros?

In [23]:
# define a single row of input data
row = [3.89]

# predict a multinomial probability distribution
probhat = model.predict_proba([row])

# predict the class
yhat = model.predict([row])

# summarize the results
print('Predicted Probabilities: %s' % probhat[0])
print('Predicted Class: %s' % yhat[0])

Predicted Probabilities: [0.0167821  0.20515485 0.77806306]
Predicted Class: 3

C:\Users\fhern\anaconda3\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(
C:\Users\fhern\anaconda3\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [24]:
# Return the mean accuracy on the given test data and labels.
model.score(X, y)

0.6101694915254238

In [29]:
X[0:0 ]

       x
0   1.24
1   1.30
2   1.30
3   1.32
4   1.32
5   1.40
6   1.42
7   1.42
8   1.45
9   1.45
10  1.47
11  1.47
12  1.50
13  1.52
14  1.55
15  1.60
16  1.63
17  1.65
18  1.65
19  1.65
20  1.65
21  1.68
22  1.70
23  1.73
24  1.78
25  1.78
26  1.78
27  1.80
28  1.80
29  1.85
30  1.88
31  1.93
32  1.98
33  2.03
34  2.03
35  2.16
36  2.26
37  2.31
38  2.31
39  2.36
40  2.36
41  2.39
42  2.41
43  2.44
44  2.46
45  2.56
46  2.67
47  2.72
48  2.79
49  2.84
50  3.25
51  3.28
52  3.33
53  3.56
54  3.58
55  3.66
56  3.68
57  3.71
58  3.89