# Creando dataframes manualmente

<img src="https://raw.githubusercontent.com/fhernanb/fhernanb.github.io/master/docs/logo_unal_color.png" alt="drawing" width="200"/>

Los ejemplos mostrados aquí están basados en https://www.geeksforgeeks.org/different-ways-to-create-pandas-dataframe/

La idea es crear el mismo dataframe manualmente de varias maneras.

In [1]:
import pandas as pd

# Método 1: a partir de una lista

In [2]:
# Creando una lista con la información
data = [['tom', 10, 'Alcala'], 
        ['nick', 15, 'Villas'], 
        ['julia', 14, 'Alcala'],
        ['marta', 20, 'Provenza']]

# chequeando el tipo
print(data)
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['nombre', 'edad', 'barrio'])

# print dataframe.
df

[['tom', 10, 'Alcala'], ['nick', 15, 'Villas'], ['julia', 14, 'Alcala'], ['marta', 20, 'Provenza']]

  nombre  edad    barrio
0    tom    10    Alcala
1   nick    15    Villas
2  julia    14    Alcala
3  marta    20  Provenza

# Método 2: a partir de un diccionario

In [3]:
# Creando el diccionario
data = {'nombre' : ['tom', 'nick', 'julia', 'marta'],
        'edad'   : [10, 15, 14, 20],
        'barrio' : ['Alcala', 'Villas', 'Alcala', 'Provenza']}

# chequeando el tipo
print(type(data))
  
# Create DataFrame
df = pd.DataFrame(data)
  
# Print the output.
df

<class 'dict'>

  nombre  edad    barrio
0    tom    10    Alcala
1   nick    15    Villas
2  julia    14    Alcala
3  marta    20  Provenza

# Método 3: creando el df a partir de una lista con las _columnas_

In [4]:
df = pd.DataFrame({'nombre' : ['tom', 'nick', 'julia', 'marta'],
                   'edad'   : [10, 15, 14, 20],
                   'barrio' : ['Alcala', 'Villas', 'Alcala', 'Provenza']},
                  index = [0, 1, 2, 3])

df

  nombre  edad    barrio
0    tom    10    Alcala
1   nick    15    Villas
2  julia    14    Alcala
3  marta    20  Provenza

# Método 4: creando el df a partir de una lista con las _filas_

In [5]:
df = pd.DataFrame([['tom', 10, 'Alcala'],
                   ['nick', 15, 'Villas'],
                   ['julia', 14, 'Alcala'],
                   ['marta', 20, 'Provenza']],
                  index=[0, 1, 2, 3], columns=['nombre', 'edad', 'barrio'])

df

  nombre  edad    barrio
0    tom    10    Alcala
1   nick    15    Villas
2  julia    14    Alcala
3  marta    20  Provenza