# Ejemplos de Pandas Cheat Sheet

La hoja de trucos está disponible en este enlace https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

<img src="logo_pandas.png" alt="drawing" width="500"/>

<div class="alert alert-info">
  <strong>Importante:</strong> Los ejemplos aquí mostrados son lo que se encuentran en la hoja de trucos.
</div>

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
     "b" : [7, 8, 9],
     "c" : [10, 11, 12]},
    index = [1, 2, 3])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [3]:
df = pd.DataFrame(
    [[4, 7, 10],
     [5, 8, 11],
     [6, 9, 12]],
    index=[1, 2, 3],
    columns=['a', 'b', 'c'])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [4]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
     "b" : [7, 8, 9],
     "c" : [10, 11, 12]},
    index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2)], 
        names=['n','v']))

df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

## Reshaping Data

Gather columns into rows

In [12]:
df1 = pd.DataFrame(
    {"a" : [4 ,5, 6],
     "b" : [7, 8, 9],
     "c" : [10, 11, 12]},
    index = [1, 2, 3])

df2 = pd.melt(df1)

print(df1)
print(df2)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12
  variable  value
0        a      4
1        a      5
2        a      6
3        b      7
4        b      8
5        b      9
6        c     10
7        c     11
8        c     12

Spread rows into columns.

In [13]:
df2.pivot(columns='variable', values='value')

variable    a    b     c
0         4.0  NaN   NaN
1         5.0  NaN   NaN
2         6.0  NaN   NaN
3         NaN  7.0   NaN
4         NaN  8.0   NaN
5         NaN  9.0   NaN
6         NaN  NaN  10.0
7         NaN  NaN  11.0
8         NaN  NaN  12.0

Append rows of DataFrames

In [15]:
df3 = pd.DataFrame(
    {"est" : [4 ,5, 6],
     "peso" : [7, 8, 9],
     "edad" : [10, 11, 12]},
    index = [1, 2, 3])

df4 = pd.DataFrame(
    {"est" : [3, 6, 8],
     "peso" : [4, 9, 9],
     "edad" : [12, 13, 15]},
    index = [1, 2, 3])

df5 = pd.concat([df3, df4])

print(df5)

   edad  est  peso
1    10    4     7
2    11    5     8
3    12    6     9
1    12    3     4
2    13    6     9
3    15    8     9

Append columns of DataFrames

In [20]:
df6 = pd.DataFrame(
    {"est" : [4 ,5, 6]},
    index = [1, 2, 3])

df7 = pd.DataFrame(
    {"peso" : [4, 9, 9],
     "edad" : [12, 13, 15]},
    index = [1, 2, 3])
     
df8 = pd.concat([df6, df7], axis=1)

print(df6)
print(df7)
print(df8)

   est
1    4
2    5
3    6
   edad  peso
1    12     4
2    13     9
3    15     9
   est  edad  peso
1    4    12     4
2    5    13     9
3    6    15     9

In [ ]:
df1.